// Styles for elements available for painting at initial load
@mixin tone-head($tone, $colour, $accentColour) {
    .tone-#{$tone} {
        .tone-colour,
        &.tone-colour {
            &,
            &:active,
            &:focus,
            &:hover {
                color: $colour;
            }
        }
        .tone-border,
        &.tone-border { border-color: $colour; }

        .tone-accent-border,
        &.tone-accent-border { border-color: $accentColour; }

        .tone-background,
        &.tone-background { background-color: $colour; }

        .is-summary > .block-title {
            color: $colour;
        }
    }
}

// Styles with global dependencies
// or for elements which painting can be delayed
@mixin tone-global($tone, $colour, $accentColour) {
    .tone-#{$tone} {
        .commentcount {
            i {
                @extend %i-comment-#{$tone};

                @if $svg-support {
                    .svg & {
                        @extend %svg-i-comment-#{$tone};
                    }
                }
            }
        }
    }
}

$tone-banners: (
    liveblog: #d13d54
);

.tone-banner {
    @each $tone, $colour in $tone-banners {
        &.tone-banner--#{$tone} {
            background-color: $colour;
        }
    }
    color: white;
    padding-top: $gs-baseline/2;
}
.tone-banner__headline {
    color: white;
    font-weight: normal;
}

.tone-banner__section {
    @include fs-header(3);
    .tone-banner__section-link {
        color: white;
    }
    float: left;
}

.tone-banner .byline {
    @include fs-bodyCopy(2);
    font-weight: normal;
    color: white;
    border-top: 1px solid #FA99A8;
    margin-top: $gs-baseline*3;
    min-height: initial;
    margin-bottom: 0;
    padding-bottom: 0;


    a {
        color: white;
        font-weight: bold;
    }
}

.tone-banner .article__dateline{
    color: white;
    border-top: 0;
}