@(metaData: model.MetaData, projectName: Option[String] = None, curlPaths: Map[String, String] = Map())(head: Html)(body: Html)(implicit request: RequestHeader)
@import conf.Switches._

@base(metaData, projectName, curlPaths){
}{

    <div id="js-context" class="gs-container">
        <div class="top-banner-ad-container">
        @fragments.commercial.standardAd(name="top", adType="top-banner-ad", sizeMapping=Map("mobile" -> Seq("300,50", "320,50"), "tabletportrait" -> Seq("728,90"), "tabletlandscape" -> Seq("728,90", "900,250")), showLabel=false)
        </div>

        @fragments.localNav(metaData)

        @body
    </div>

}


